.venv/
__pycache__/
*.pyc
.idea/

# Environment
.env
env/
venv/

# Python
*.py[codz]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Logs & DB
*.log
db.sqlite3

# Jupyter
.ipynb_checkpoints

# VS Code / PyCharm
.vscode/
.idea/

# Cache
.mypy_cache/
.pytest_cache/